@import 'colors.scss';

* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Custom Button Styles */


.btn-light {
    border-radius: 0;
    color: $off-black;
    background-color: $white;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: $off-black;
    background-color: $white-semi-transparent;
}

.cover {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.cover > .container > h1 {
    color: $white-semi-transparent;
    text-shadow: $text-shadow;
}

.messiaenbackground {
    background-position: right top;
    background-repeat: no-repeat;
    background-color: transparent;
}
