$red: #AC2017;

$blueblack: #212136;
$black-semi-transparent: rgba(0,0,0,0.7);
$off-black: #333;

$off-white: #eee;
$white: #fff;
$white-semi-transparent: rgba(255,255,255,0.8);

$text-shadow: 2px 2px 3px rgb(0,0,0);